* {
    margin: 0;
    padding: 0;
}

body {
    background: #FFF;
}

h3 {
    text-align: center;
    margin: 20px;
}

#box {
    position: relative;
    width: 900px; /* Increased width for better layout */
    height: 200px;
    margin: 20px auto;
    padding: 0;
}

#square {
    position: absolute;
    display: block;
    width: 800px;
    height: 200px;
}

#left-side,
#top-side-1,
#top-side-2,
#top-side-3,
#right-side,
#bottom-side-1,
#bottom-side-2,
#bottom-side-3 {
    position: absolute;
    background: none transparent;
    width: 0px;
    height: 0px;
}

#left-side {
    left: 0;
    bottom: 0;
    height: 200px;
    width: 1px;
}

#top-side-1,
#top-side-2,
#top-side-3,
#right-side,
#bottom-side-1,
#bottom-side-2,
#bottom-side-3 {
    height: 1px;
    width: 267px;
}

#left-side {
    left: 0;
    bottom: 0;
    height: 200px;
    width: 1px;
}

#top-side-1 {
    top: 0;
    left: 0;
    width: 267px;
    height: 1px;
}

#top-side-2 {
    top: 0;
    left: 266px;
    width: 533px;
    height: 1px;
}

#top-side-3 {
    top: 0;
    left: 532px;
    width: 800px;
    height: 1px;
}

#right-side {
    right: 0;
    top: 0;
    height: 200px;
    width: 1px;
}

#bottom-side-1 {
    bottom: 0;
    right: 0;
    width: 267px;
    height: 1px;
}

#bottom-side-2 {
    bottom: 0;
    right: 266px;
    width: 533px;
    height: 1px;
}

#bottom-side-3 {
    bottom: 0;
    right: 532px;
    width: 800px;
    height: 1px;
}

input {
    height: 40px;
    width: 120px;
    margin: 5px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
    position: absolute; /* Added for exact position */
}

#registerButton {
    left: 75px; /* Adjusted */
}

#loginButton {
    right: 75px; /* Adjusted */
}
