<app-header></app-header>
<div class="row">
    <div class="nav-panel">
        <div *ngFor="let channel of channels">
            <p>{{ channel.name }}</p>
            <button (click)="connect(channel)">Connect</button>
            <button (click)="disconnect(channel)">Disconnect</button>
        </div>
    </div>
    <div class="call-panel">
        <div *ngFor="let user of connectedChannel?.connectedUsers" class="user-avatar">
            <img [ngSrc]="user.avatarUrl" [alt]="user.name" width="100" height="100">
            <p style="text-align: center">{{ user.name }}</p>
        </div>
    </div>
</div>
<audio #audioPlayer controls></audio>