<div class="chat-container">
    <div class="chat-messages" (scroll)="onScroll($event)">
        <div class="chat-messages-inner" #chatMessagesInner>
            <div *ngFor="let message of messages; let i = index" class="message">
                <img [src]="getMessageUser(message)?.avatarUrl" alt="User Avatar" class="message-avatar">
                <div class="message-content">
                    <div class="message-header">
                        <span class="message-name">{{getMessageUser(message)?.name}}</span>
                        <span class="message-date">{{message.timestamp}}</span>
                    </div>
                    <div class="message-text" [innerHTML]="message.text"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="chat-input-container">
        <div class="chat-input">
            <textarea placeholder="Type your message..." [(ngModel)]="inputMessage" (keydown.enter)="sendMessage()" (input)="adjustTextareaHeight($event)"></textarea>
            <button (click)="sendMessage()"><i class="fas fa-paper-plane"></i> Send</button>
        </div>
    </div>
</div>