<section class="container">
    <div *ngIf="displayCallModal" class="list-item">
        <app-modal-call></app-modal-call>
    </div>
    
    <div class="list-item">
        <app-modal-server-users></app-modal-server-users>
    </div>

    <div class="list-item">
        <div class="item-content">
            <span class="order">3</span> Charlie
            <input type="text">
        </div>
    </div>

    <div class="list-item">
        <div class="item-content">
            <span class="order">4</span> Delta
            <input type="text">
        </div>
    </div>
</section>
