.container {
    position: absolute;
    top: 8vh;
    left: 82vw;
    height: 50vw;
    width: 18vw;
    overflow-y: auto;
    opacity: 0;
    visibility: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.list-item {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    transition: transform 0.5s ease;
}


.item-content {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}
