<main *ngIf="loginStatus" class="main-content">
    <div class="login-container">
        <h1 class="login-title">Login</h1>
        <form action="/login" method="POST">
            <div class="input-group">
                <label for="username">Email</label>
                <input [(ngModel)]="email" type="text" id="username" name="username" required>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input [(ngModel)]="password" type="password" id="password" name="password" required>
            </div>
            <button (click)="login()" type="submit" class="login-btn">Log In</button>
        </form>
        <div class="forgot-password">
            <p>Forgot your password?
                <a class="link" (click)="setLogin(false)">Register</a>
            </p>
        </div>
    </div>
</main>
<main *ngIf="!loginStatus" class="main-content">
    <div class="login-container">
        <h1 class="login-title">Registration</h1>
        <form action="/login" method="POST">
            <div class="input-group">
                <label for="username">Email</label>
                <input [(ngModel)]="email" type="text" id="username" name="username" required>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input [(ngModel)]="password" type="password" id="password" name="password" required>
            </div>
            <button (click)="register()" type="submit" class="login-btn">Register</button>
        </form>
        <div class="forgot-password">
            <p>Already registered?
                <a class="link" (click)="setLogin(true)">Login</a>
            </p>
        </div>
    </div>
</main>